<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <div class="brand-icon">
        <i class="fa-solid fa-archway"></i>
      </div>
      <span>Heavenly</span>
    </a>
    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Center Navigation -->
      <div class="navbar-nav navbar-center">
        <a class="nav-link" href="/">
          <i class="fa-solid fa-home"></i> Home
        </a>
        <a class="nav-link" href="/listings">
          <i class="fa-solid fa-compass"></i> Explore
        </a>
        <a class="nav-link" href="/listings/new">
          <i class="fa-solid fa-plus"></i> Create
        </a>
      </div>
      
      <!-- Auth Navigation (Right) -->
      <div class="navbar-nav navbar-auth ms-auto">
        <% if (!currentUser) { %>
          <a class="nav-link auth-link" href="/login">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span>Login</span>
          </a>
          <a class="nav-link auth-btn" href="/signup">
            <i class="fa-solid fa-user-plus"></i>
            <span>Sign Up</span>
          </a>
        <% } else { %>
          <% if (currentUser.role === 'admin') { %>
            <a class="nav-link admin-link" href="/admin">
              <i class="fa-solid fa-shield-halved"></i>
              <span>Admin</span>
            </a>
          <% } %>
          <div class="nav-user-dropdown">
            <div class="nav-user-avatar">
              <%= currentUser.username.charAt(0).toUpperCase() %>
            </div>
            <span class="nav-username"><%= currentUser.username %></span>
            <a class="logout-btn" href="/logout">
              <i class="fa-solid fa-right-from-bracket"></i>
            </a>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>
